extends ../layouts/application.pug

block header
  = t('views.users.exist.editing')

block content
  +formFor()(action=route('updateUser', { id: user.id }) method='post')
    +input(user, 'firstName', errors, 'users')(type="text")
    +input(user, 'lastName', errors, 'users')(type="text")
    +input(user, 'email', errors, 'users')(type="text")
    +input(user, 'password', errors, 'users')(type="password")
    input(name='_method' type='hidden' value='patch')
    +submit(user)(value=t('views.users.exist.edit'))
