extends ../layouts/application2.pug

block header
  = t('views.users.exist.editing')

block content
  +formFor()(action=`/users/${user.id}` method='patch')
    +input(user, 'firstNamet', ('views.users.firstName'), errors)(type="text")
    +input(user, 'lastName', t('views.users.secondName'), errors)(type="text")
    +input(user, 'email', t('views.users.email'), errors)(type="text")
    +input(user, 'password', t('views.users.password'), errors)(type="password")
    +submit(user)(value=t('views.users.new.submit'))
