extends ../layouts/application2.pug

block header
  = t('views.users.new.signUp')

block content
  +formFor()(action=route('users') method='post')
    +input(user, 'firstName', errors, 'users')(type="text")
    +input(user, 'lastName', errors, 'users')(type="text")
    +input(user, 'email', errors, 'users')(type="text")
    +input(user, 'password', errors, 'users')(type="password")
    +submit(user)(value=t('views.users.new.submit'))
