extends ../layouts/application2.pug

block header
  = t('views.statuses.exist.editing')

block content
  +formFor()(action=route('patchStatus', { id: status.id }) method='post')
    +input(status, 'name', errors)(type="text")
    input(name='_method' type='hidden' value='patch')
    +submit(status)(value=t('views.statuses.exist.edit'))
