extends ../layouts/application.pug

block header
  = t('views.statuses.new.creating')

block content
  +formFor()(action=route('createStatus') method='post')
    +input(status, 'name', errors, 'statuses')(type="text")
    +submit(status)(value=t('views.statuses.new.createConfirm'))