extends ../layouts/application2.pug

block header
  = t('views.labels.new.creating')

block content
  +formFor()(action=route('postLabel') method='post')
    +input(label, 'name', errors, 'labels')(type="text")
    +submit(label)(value=t('views.labels.new.createConfirm'))