extends ../layouts/application.pug

block header
  = t('views.tasks.exist.editing')

block content
  +formFor()(action=route('updateTask', { id: task.id }) method='post')
    +input(task, 'name', errors, 'tasks')(type="text")
    +textarea(task, 'description', errors, 'tasks')(type="text")
    +select(task, statuses, 'statusId', errors, 'tasks')
    +select(task, users, 'executorId', errors, 'tasks')
    +select(task, labels, 'labels', errors, 'tasks')
    input(name='_method' type='hidden' value='patch')
    +submit(task)(value=t('views.tasks.exist.edit'))